@model Assignment_3.Models.std

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>std</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_regno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_regno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.academic_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academic_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.academic_term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academic_term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_abbrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_abbrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
